# Você precisa criar 4 arquivos `.env.$(NODE_ENV)`:

# `.env.development`
# `.env.test` → é usado para testes unitários e de integração (principalmente) no Vitest
# `.env.e2e` → é usado para testes end-to-end no Playwright (principalmente) no Vitest
# `.env.production`

# - `.env.development` é usado no seu ambiente local de desenvolvimento (Next.js)
# - `.env.production` é usado durante o build e start do Next.js em produção

# Verifique o arquivo `src/env/configs.ts` para mais detalhes sobre como lidamos com os ambientes

# Valores aceitos: `development`, `test`, `e2e`, `production`

CURRENT_ENV='ISSO É UM EXEMPLO'